flask
flask-cors
flask-sqlalchemy
flask-migrate
flask-jwt-extended
flask-mail
python-dotenv
psycopg2-binary
gunicorn
bcrypt
celery
redis
numpy
pandas
scikit-learn==1.5.1
xgboost
joblib
librosa
soundfile
scipy
torch==2.4.1 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.4.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.19.1 --index-url https://download.pytorch.org/whl/cpu
timm
boto3
botocore
requests
pillow
python-docx
pypdf
midtransclient
resend
opencv-python-headless
requests
gensim
mlflow
dagshub
prometheus-flask-exporter